body {
    margin: 0;
    padding: 0;
}

#board {
    background: url("../images/jupiter.jpeg");
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
}

#player {
    background: url('../images/spaceship.webp');
    background-size: contain;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

#enemy {
    background: url("../images/alien.png");
    background-size: contain;
    position: absolute;
    background-size: cover;
}

#bullet {
    background-color: white;
    position: absolute;
}

#page-gameover {
    display: block;
    text-align: center;
    font-size: 48px;
    background-color: lightgrey;
}

#page-gameover a {
    text-decoration: none;
    color: red;
}

#points-display {
    display: block;
    color: white;
    position: relative;
    text-align: left;
}

#lives-display {
    display: block;
    color: white;
    position: relative;
    text-align: left;
}

#ammo-display {
    display: block;
    color: white;
    position: relative;
    text-align: left;
}

.welcome {
    display: block;
    text-align: center;
    background-color: lightgray;
}

.welcome h1 {
    margin: 25px;
    padding: 25px;
}

.welcome ul li {
    text-decoration: none;
    list-style: none;
    margin: 25px;
}

.welcome p {
    font-size: 24px;
    padding: 25px;
    margin: 25px;
}

.welcome p span {
    font-style: italic;
}

.welcome div a {
    font-size: 40px;
    text-decoration: none;
    color: red;
    margin: 25px;
    padding: 25px;
}

